// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "meson-g12b-radxa-zero2.dtsi"

/ {
	compatible = "radxa,zero2", "amlogic,a311d", "amlogic,g12b";
	model = "Radxa ZERO2";
};

&sound {
	model = "RADXA-ZERO2";
};
